<!DOCTYPE html>
{%extends 'blog/base.html'%}
{%block title %}{{post.title}}{%endblock%}
<div class="jumbotron">
{%block content%}
       <h1>{{post.title}}</h1>
       <p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
      
       <p class="tags"><b>Tags:{{ post.tags.all|join:", " }}</b> </p>
      
       {{post.body|linebreaks}}
       <a href="/{{post.id}}/share" class="btn btn-success">Send Post By Email</a>

       <!-- Total Number of comments -->
       {% with comments.count as total_comments %}
               <h2>{{ total_comments }} comment{{ total_comments|pluralize }} </h2>
       {% endwith %}

       <!-- list the comments -->

       {% for comment in comments %}
              <div class="comment" >
                     <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} on {{ comment.created }}
                            &nbsp&nbsp&nbsp<b>{{ comment.body|linebreaks }}</b>
                     </p>
                     
                    
              </div>
              {% empty %}
              <p>There are no comments yet.</p>
       {% endfor %}

       {% if new_comment %}
           <h2>Your Comment has been added</h2>
       {% else %}
           <h2>Add a new Comment</h2>
           <form method ='POST' class="form-inline">
                  <div class="form-group">
                  {{comment_form.as_p}}
                  {% csrf_token%}
                  <input type="submit" class="btn btn-success" value="Add Comment">
                  </div>
                 
           </form>
       {% endif %}
{%endblock%}
</div>